/* alternative and more specific setup */
* {
    padding: 0;
    margin: 0;
    font-size: 40px; 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

#calculator-container {
    border: solid black 2px;
    width: 364px;
}

#text-field {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    padding-right: 10px;
}

#buttons-container {
    display: flex;
}

#reset-digit-container {
    display: flex;
    flex-direction: column;
}

#digits-container {
    display: flex;
    flex-wrap: wrap;
}

#operations-container {
    display: flex;
    flex-direction: column;
}

#AC.digit {
    width: 270px;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 90px;
}

#dot.digit {
    width: 180px;

}

.operations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 90px;
}